.idea/*
.vscode/*
*_ignore*
.DS_Store
*/.DS_Store 
.DS_Store
.DS_Store
.gitignore
*/raw_data/
.DS_Store
/bin/master
/bin/node
/bin/processing
/tools/deploy/*.txt
/tools/deploy/*.tar
/tools/deploy/*.json
/tools/deploy/*.pem
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
