.idea/*
.vscode/*
*_ignore*
.DS_Store
*/.DS_Store 
.DS_Store
.DS_Store
.gitignore
*/raw_data/
.DS_Store
/bin/master
/bin/node
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
